.idea/*
target
.vscode
.vscode/*
# local .terraform dir
terraform/provisioning/.terraform/*
terraform/remote-backend/.terraform/*

# tf state files
terraform/provisioning/*.tfstate
terraform/remote-backend/*.tfstate.*
terraform/provisioning/.terraform/*
terraform/remote-backend/.terraform/*

# tf variable files, may include sensitive data
terraform/provisioning/*.tfvars
terraform/remote-backend/.terraform/*

