.idea/*
target
.vscode
.vscode/*
# local .terraform dir
terraform/*/.terraform/*

# tf state files
terraform/*/*.tfstate
terraform/*/*.tfstate.*

# tf variable files, may include sensitive data
terraform/*/*.tfvars

